

.hidden {
    display: none;
}

body {
    font-size: 16px;
    background-image: url('/images/background_blue.jpg');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#iconContainer {
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

#iconContainer img {
    width: 150px;
    background-color: rgb(66, 170, 148);
    padding: 5px;
}

#iconContainer img:hover {
    transform: scale(1.2);
    background-color: rgb(67, 124, 117);
    cursor: pointer;
}
.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    background-color:#6E8FA3;
}

#mainContainer {
    display: flex;
    justify-content: center;
}

.dropSection-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 50px 10px;
    margin-top: 30px;
}

.drop-zone-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.drop-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: 180px;
    width: 180px;
    
    background-image: url('/images/boombox.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



#drag-img {
    transform: scale(1.20);
}

.dragable-icons {
    display: flex;
    position: absolute;
    left: -7000px;
    top: -1200px;
}

.play-btn {
    width: fit-content;
    height: auto;
    border: 0px;
    padding: 12px;
    background-color: rgb(142, 253, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.play-btn:hover {
    background-color: rgb(43, 255, 0);
    cursor:pointer;
}

.play-btn img {
    width: 60px;
}


